<% include ../partials/header %>
<div class="ui raised very padded text main text container segment" style="border-top:3px solid #6435c9;">
    <div class="ui huge header"><%= blog.title %></div>
    <div class="ui top attached">
        <div class="item">
            <img class="ui centered rounded image" src="<%= blog.image %>" alt="">
            <div class="content">
                <span style="font-size:90%"><%= blog.created.toDateString() %></span><br>
            </div><hr width="80%">
            <div class="description"><p><%- blog.body %></p></div>
        </div><br>
        <div class="meta right" style="float:right;">
            <span>Submitted by <%= blog.author.username %></em></span>
        </div> <br>
        <a class="ui violet button" href="/blogs/<%= blog._id %>/edit">Edit</a>
        <form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
            <button class="ui red button">Delete</button>
            
        </form>
        
    </div>
</div>

<% include ../partials/footer %>
